@model gacha.Models.shippingDetail

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>shippingDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="shippingId" class="control-label"></label>
                <select asp-for="shippingId" class ="form-control" asp-items="ViewBag.shippingId"></select>
            </div>
            <div class="form-group">
                <label asp-for="bagId" class="control-label"></label>
                <select asp-for="bagId" class ="form-control" asp-items="ViewBag.bagId"></select>
            </div>
            <div class="form-group">
                <label asp-for="quantity" class="control-label"></label>
                <input asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
