thead {
    background-color: #F6EEA2;
    color: black;
}

.button {
    display: inline-block;
    padding: 6px 12px; 
    font-size: 14px; 
    color: #333;
    background-color: #F0E1A1;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

    .button:hover {
        background-color: #D4B84A; 
        color: #fff; 
    }
