@model gacha.Models.gachaProduct

@{
    ViewData["Title"] = "Edit";
}
@section Styles {
    <link href="~/css/datatables.min.css" rel="stylesheet" />
}

<h4>修改商品</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" readonly="readonly" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="machineId" class="control-label"></label>
                <select class="form-select" asp-for="machineId" class="form-control" asp-items="ViewBag.machineId"></select>
                <span asp-validation-for="machineId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productName" class="control-label"></label>
                <input asp-for="productName" class="form-control" />
                <span asp-validation-for="productName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stock" class="control-label"></label>
                <input asp-for="stock" class="form-control" />
                <span asp-validation-for="stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productPictureName" class="control-label"></label>
                <partial name="_ShowProductImagePartial">
                    <input asp-for="productPictureName" class="form-control" type="file" accept="image/*" />
                <span asp-validation-for="productPictureName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="儲存" class="btn button" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn button"><i class="fa-solid fa-backward"></i></a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#productPictureName').on("change", function () {
                // 允許的副檔名
                var allowType = "image.*";
                // 上傳的第一個檔案
                var file = this.files[0];
                // 抓取檔案的型態是否為allowType的格式
                if (file.type.match(allowType)) {
                    // 讀取圖片
                    var reader = new FileReader();
                    // 檔案讀取完成的事件
                    reader.onload = function (e) {
                        // 選到#Picture的上一個元素修改src屬性
                        $('#productPictureName').prev().attr("src", e.target.result);
                        // 選到#Picture的上一個元素修改title屬性
                        $('#productPictureName').prev().attr("title", e.file.name);
                    }
                    // 用圖片的URL讀取圖片
                    reader.readAsDataURL(file);
                    // 解除鎖定按鈕
                    $('.btn').prop("disabled", false);
                } else {
                    alert("不支援的檔案上傳類型");
                    // 鎖定按鈕
                    $('.btn').prop("disabled", true);
                }
            });
        });
    </script>
}
