@model gacha.Models.role

@{
    ViewData["Title"] = "Create";
}


<h4>role</h4>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create" method="post" class="needs-validation" novalidate>
                <!-- ADD validation if required -->
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <div class="form-group row mb-3">
                    <!-- Added mb-3 for margin -->
                    <label asp-for="id" class="col-sm-3 col-form-label fw-bold"></label>
                    <div class="col-sm-9">
                        <input asp-for="id" type="number" class="form-control" min="1" placeholder="1" required />
                        <span asp-validation-for="id" class="text-danger"></span>
                        <div class="valid-feedback">漂漂亮亮</div>
                        <div class="invalid-feedback">管理ID必填,必須大於或等於1,誠實招來</div>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <!-- Added mb-3 for margin -->
                    <label asp-for="title" class="col-sm-3 col-form-label fw-bold"></label>
                    <div class="col-sm-9">
                        <input asp-for="title" class="form-control" required />
                        <span asp-validation-for="title" class="text-danger"></span>
                        <div class="valid-feedback">漂漂亮亮</div>
                        <div class="invalid-feedback">管理名稱必填,最多20個字,誠實招來</div>
                    </div>
                </div>

                <div class="form-group row justify-content-end">
                    <div class="col-sm-10 d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa-solid fa-floppy-disk fa-lg"></i> Create
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@* <div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div> *@



