@model gacha.ViewModels.activity_ViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<h4>活動</h4>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <div class="form-group row mb-3">
                    <!-- Added mb-3 for margin -->
                    <label asp-for="title" class="col-sm-3 col-form-label fw-bold"></label>
                    <div class="col-sm-9">
                        <input asp-for="title" class="form-control" />
                        <span asp-validation-for="title" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <!-- Added mb-3 for margin -->
                    <label asp-for="description" class="col-sm-3 col-form-label fw-bold"></label>
                    <div class="col-sm-9">
                        <input asp-for="description" class="form-control" />
                        <span asp-validation-for="description" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <!-- Added mb-3 for margin -->
                    <label asp-for="activityTypeId" class="col-sm-3 col-form-label fw-bold"></label>
                    <div class="col-sm-9">
                        <select asp-for="activityTypeId" class="form-control" asp-items="ViewBag.activityTypeId"></select>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <!-- Added mb-3 for margin -->
                    <label asp-for="activityStart" class="col-sm-3 col-form-label fw-bold"></label>
                    <div class="col-sm-9">
                        <input asp-for="activityStart" class="form-control" />
                        <span asp-validation-for="activityStart" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <!-- Added mb-3 for margin -->
                    <label asp-for="activityEnd" class="col-sm-3 col-form-label fw-bold"></label>
                    <div class="col-sm-9">
                        <input asp-for="activityEnd" class="form-control" />
                        <span asp-validation-for="activityEnd" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row justify-content-end">
                    <div class="col-sm-10 d-flex justify-content-end">
                        <button type="submit" class="btn button">
                            <i class="fa-solid fa-floppy-disk fa-lg"></i>
                        </button>
                      @*   <a asp-action="Index" class="btn btn-link">Back to List</a> *@
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
