@model gacha.ViewModels.activity_ViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>活動</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form id="createForm" asp-action="Create" class="needs-validation" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <div class="form-group  row mb-3">
                <label asp-for="title" class="col-sm-3 col-form-label fw-bold"></label>
                <div class="col-sm-9">
                    <input asp-for="title" class="form-control" id="title" required />
                    <span asp-validation-for="title" class="text-danger"></span>
                    <div class="valid-feedback">漂漂亮亮</div>
                    <div class="invalid-feedback">活動名稱必填,誠實招來</div>
                </div>
            </div>
            <div class="form-group  row mb-3">
                <label asp-for="description" class="col-sm-3 col-form-label fw-bold"></label>
                <div class="col-sm-9">
                    <input asp-for="description" class="form-control" id="description" required />
                    <span asp-validation-for="description" class="text-danger"></span>
                    <div class="valid-feedback">漂漂亮亮</div>
                    <div class="invalid-feedback">活動描述必填,誠實招來</div>
                </div>
            </div>
            <div class="form-group  row mb-3">
                <label asp-for="activityTypeId" class="col-sm-3 col-form-label fw-bold"></label>
                <div class="col-sm-9">
                    <select asp-for="activityTypeId" class="form-control" asp-items="ViewBag.activityTypeId" id="typeId" required></select>
                    <div class="valid-feedback">漂漂亮亮</div>
                    <div class="invalid-feedback">活動ID必選,誠實招來</div>
                </div>
            </div>
            <div class="form-group  row mb-3">
                <label asp-for="activityStart" class="col-sm-3 col-form-label fw-bold"></label>
                <div class="col-sm-9">
                    <input asp-for="activityStart" class="form-control" id="activityStart" required />
                    <span asp-validation-for="activityStart" class="text-danger"></span>
                    <div class="valid-feedback">漂漂亮亮</div>
                    <div class="invalid-feedback">活動開始日必選,誠實招來</div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="activityEnd" class="control-label"></label>
                <div class="col-sm-9">
                    <input asp-for="activityEnd" class="form-control" id="activityEnd" required />
                    <span asp-validation-for="activityEnd" class="text-danger"></span>
                    <div class="valid-feedback">漂漂亮亮</div>
                    <div class="invalid-feedback">活動結束日必選,誠實招來</div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
