@section Styles
{
    <style>

    </style>
}

<div id="app">
    <div class="container mt-5">
        <h2 class="mb-4">扭蛋詳細記錄</h2>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>扭蛋商品名稱</th>
                        <th>扭蛋狀態</th>
                        <th>數量</th>
                        <th>異動時間</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="record in gachaDetails" :key="record.id">
                        <td>{{ record.gachaProductName }}</td>
                        <td>{{ record.status }}</td>
                        <td>{{ record.quantity }}</td>
                        <td>{{ new Date(record.updateTime).toLocaleString() }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="https://unpkg.com/vue@3.4.31/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"
            integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var baseAddress = "https://localhost:7134"
        var vueApp = {

            data() {
                return {
                    gachaDetails: []
                }
            },

            methods: {
                fetchGachaDetails(userId) {
                    axios.get(`${baseAddress}/api/GachaDetailLists/${userId}`)
                        .then(response => {
                            console.log('API response:', response.data);
                            this.gachaDetails = response.data;
                        })
                        .catch(error => {
                            console.error('There was an error!', error);
                        });
                }
            },

            mounted() {
                this.fetchGachaDetails(1); // 替換為適當的用戶ID
            }
        };

        var app = Vue.createApp(vueApp).mount("#app");
    </script>
}
