@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>後台首頁</title>
    <style>
        .home {
            background-color: #f8f9fa;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: center;
        }

        .welcome-container {
            background-color: #FFF4C1;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .image-container {
            display: flex;
            flex-direction: row;
            margin-top: 20px;
        }

        .image-container img {
            max-width: 300px;
            height: auto;
            border-radius: 10px;
            margin-right: 10px;
        }


    </style>
</head>
<body class="home">
    <div class="welcome-container">
        <h1>扭互錄真換 扭蛋管理系統</h1>
        <p>管理您的內容並查看數據分析。</p>
        <div class="image-container">
            <img src="~/img/background6.jpg" alt="後台歡迎圖片" />
            <img src="~/img/background6.jpg" alt="後台歡迎圖片" />
            <img src="~/img/background6.jpg" alt="後台歡迎圖片" />
        </div>
    </div>
</body>
</html>
