
@{
    ViewData["Title"] = "testActivityTypeFetchApi";
}

<h1>testActivityTypeFetchApi</h1>


<button class="btn btn-primary" id="fetchGetAll">FetchGetAll</button>

<button class="btn btn-primary" id="fetchGetOne">FetchGetOne</button>

<button class="btn btn-primary" id="fetchPost">FetchPost</button>

<button class="btn btn-primary" id="fetchPut">FetchPut</button>

<button class="btn btn-primary" id="fetchDelete">FetchDelete</button>

<div id="result"></div>
@* <img src="~/imgs/CrayonShin-chan5.jpg" alt="Alternate Text" /> *@




@section Scripts{

    <script>

        window.onload = function () {

            var baseAddress = "https://localhost:7164";

            $("#fetchGetAll").on("click", async function () {
                // alert("test");
                // $("#result").text("test");

                fetch(`${baseAddress}/api/ActivityTypes`, {

                    method: "GET"


                }).then(result => {

                    alert(result);

                    if (result.ok) { 
                        return result.text();
                    }


                }).then(data => {

                    $("#result").text(data);

                }).catch(err => {

                    alert(err);

                });

            });


            $("#fetchGetOne").on("click", async function () {
                // alert("test");
                // $("#result").text("test");
                var imgName = "CrayonShin-chan5.jpg";

                var typeId = 4;

                fetch(`${baseAddress}/api/ActivityTypes/${typeId}`, {

                    method: "GET"


                }).then(result => {

                    alert(result);

                    if (result.ok) {
                        return result.text();
                    }


                }).then(data => {

                    $("#result").text(data);
                    $("#result").append(`<img src='/imgs/${imgName}' alt='Alternate Text' />`);

                }).catch(err => {

                    alert(err);

                });

            });



            $("#fetchPost").on("click", async function () {
                // alert("test");
                // $("#result").text("test");

                var typeName = "活動";

                var jsonToPost = {
                    Name: typeName
                };

                fetch(`${baseAddress}/api/ActivityTypes`, {

                    method: "POST",
                    body : JSON.stringify(jsonToPost),
                    headers: { "Content-Type" : "application/json"}


                }).then(result => {

                    alert(result);

                    if (result.ok) {
                        return result.text();
                    }


                }).then(data => {

                    $("#result").text(data);

                }).catch(err => {

                    alert(err);

                });

            });


            $("#fetchPut").on("click", async function () {
                // alert("test");
                // $("#result").text("test");

                var typeId = 8;
                var typeName = "測試";

                var jsonToPut = {
                    Id : 8,
                    Name: typeName
                };

                fetch(`${baseAddress}/api/ActivityTypes/${typeId}`, {

                    method: "PUT",
                    body: JSON.stringify(jsonToPut),
                    headers: { "Content-Type": "application/json" }


                }).then(result => {

                    alert(result);

                    if (result.ok) {
                        return result.text();
                    }


                }).then(data => {

                    $("#result").text(data);

                }).catch(err => {

                    alert(err);

                });

            });

            $("#fetchDelete").on("click", async function () {
                // alert("test");
                // $("#result").text("test");

                var typeId = 8;

                fetch(`${baseAddress}/api/ActivityTypes/${typeId}`, {

                    method: "DELETE"


                }).then(result => {

                    alert(result);

                    if (result.ok) {
                        return result.text();
                    }


                }).then(data => {

                    $("#result").text(data);

                }).catch(err => {

                    alert(err);

                });

            });


        };


    </script>
}