@section Styles
{
    <style>

    </style>
}

<div id="app">
    TrackingList
</div>


@section Scripts
{
    <script src="https://unpkg.com/vue@3.4.31/dist/vue.global.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"
            integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

        var vueApp = {

            data() {

                return {

                }

            },

            methods: {

            },

        };

        var app = Vue.createApp(vueApp).mount("#app");


    </script>
}