@model gacha.Models.gachaTheme

@{
    ViewData["Title"] = "Create";
}
@section Styles {
    <link href="~/css/datatables.css" rel="stylesheet" />
    
}

<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="themeName" class="control-label"></label>
            <div class="input-container">
                <input asp-for="themeName" class="form-control mt-2" required/>
                <span asp-validation-for="themeName" class="text-danger"></span>
                <div class="invalid-feedback">
                    <div>主題名稱必填</div>
                </div>
            </div>
            
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
