@model gacha.Models.gachaMachine

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>gachaMachine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="themeId" class="control-label"></label>
                <select asp-for="themeId" class="form-control" asp-items="ViewBag.themeId"></select>
                <span asp-validation-for="themeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="machineName" class="control-label"></label>
                <input asp-for="machineName" class="form-control" />
                <span asp-validation-for="machineName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="machineDescription" class="control-label"></label>
                <input asp-for="machineDescription" class="form-control" />
                <span asp-validation-for="machineDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="machinePictureName" class="control-label"></label>
                <partial name="_ShowImagePartial">
                <input asp-for="machinePictureName" type="file" accept="image/*" class="form-control" />
            </div>
@*             <div class="form-group">
                <label asp-for="createTime" class="control-label"></label>
                <input asp-for="createTime" class="form-control" />
                <span asp-validation-for="createTime" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#machinePictureName').on("change", function () {
                // 允許的副檔名
                var allowType = "image.*";
                // 上傳的第一個檔案
                var file = this.files[0];
                // 抓取檔案的型態是否為allowType的格式
                if (file.type.match(allowType)) {
                    // 讀取圖片
                    var reader = new FileReader();
                    // 檔案讀取完成的事件
                    reader.onload = function (e) {
                        // 選到#Picture的上一個元素修改src屬性
                        $('#machinePictureName').prev().attr("src", e.target.result);
                        // 選到#Picture的上一個元素修改title屬性
                        $('#machinePictureName').prev().attr("title", e.file.name);
                    }
                    // 用圖片的URL讀取圖片
                    reader.readAsDataURL(file);
                    // 解除鎖定按鈕
                    $('.btn').prop("disabled", false);
                } else {
                    alert("不支援的檔案上傳類型");
                    // 鎖定按鈕
                    $('.btn').prop("disabled", true);
                }
            });
        });
    </script>
}

