@model gacha.Models.pointList

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>pointList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="rechargeListId" class="control-label"></label>
                <select asp-for="rechargeListId" class="form-control" asp-items="ViewBag.rechargeListId"></select>
                <span asp-validation-for="rechargeListId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bagId" class="control-label"></label>
                <select asp-for="bagId" class="form-control" asp-items="ViewBag.bagId"></select>
                <span asp-validation-for="bagId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="achievementId" class="control-label"></label>
                <select asp-for="achievementId" class="form-control" asp-items="ViewBag.achievementId"></select>
                <span asp-validation-for="achievementId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
