@model gacha.Models.rechargeList

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>rechargeList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="quantity" class="control-label"></label>
                <input asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="amount" class="control-label"></label>
                <input asp-for="amount" class="form-control" />
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="paymentMode" class="control-label"></label>
                <input asp-for="paymentMode" class="form-control" />
                <span asp-validation-for="paymentMode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rechargePlanId" class="control-label"></label>
                <select asp-for="rechargePlanId" class="form-control" asp-items="ViewBag.rechargePlanId"></select>
                <span asp-validation-for="rechargePlanId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userId" class="control-label"></label>
                <select asp-for="userId" class="form-control" asp-items="ViewBag.userId"></select>
                <span asp-validation-for="userId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
