@model gacha.ViewModels.rechargeList_ViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>rechargeList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userId" class="control-label"></label>
                <input asp-for="userId" class="form-control" readonly="readonly" />
                <span asp-validation-for="userId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" readonly="readonly" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rechargePlanId" class="control-label"></label>
                <select asp-for="rechargePlanId" class="form-control" asp-items="ViewBag.rechargePlanId"></select>
            </div>
            @* <div class="form-group">
                <label asp-for="rechargePlan" class="control-label"></label>
                <select asp-for="rechargePlan" class="form-control" asp-items="ViewBag.rechargePlan"></select>
            </div> *@
            <div class="form-group">
                <label asp-for="quantity" class="control-label"></label>
                <input asp-for="quantity" class="form-control" min="1"/>
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="amount" class="control-label"></label>
               @*  <input asp-for="amount" class="form-control" />
                <span asp-validation-for="amount" class="text-danger"></span> *@
                <select asp-for="amount" class="form-control" asp-items="ViewBag.amount"></select>
            </div>
            <div class="form-group">
                <label asp-for="paymentMode" class="control-label"></label>
                <select asp-for="paymentMode" class="form-control" asp-items="ViewBag.paymentMode"></select>
               @*  <input asp-for="paymentMode" class="form-control" />
                <span asp-validation-for="paymentMode" class="text-danger"></span> *@
            </div> 
           
            @* <div class="form-group">
                <label asp-for="userName" class="control-label"></label>
                <input asp-for="userName" class="form-control" readonly="readonly" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var rechargePlanIdDropdown = document.querySelector('select[name="rechargePlanId"]');
            var amountDropdown = document.querySelector('select[name="amount"]');

            var amount = {
                '1': '100',
                '2': '200',
                '3':'500',
                '4':'1000',
                '5':'2000',
                '6':'5000'
            };
            
            rechargePlanIdDropdown.addEventListener('change', function () {
                var selectedMethod = rechargePlanIdDropdown.value;
                var price = amount[selectedMethod] || '';

                // Clear the existing options
                amountDropdown.innerHTML = '';

                // Add the new option
                var option = document.createElement('option');
                option.value = price;
                option.text = '$' + price;
                amountDropdown.add(option);
            });

            // Trigger change event on page load to set the initial fee
            var event = new Event('change');
            rechargePlanIdDropdown.dispatchEvent(event);
        });
    </script>

}
