@model login_ViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員登入</title>
    <!-- Bootstrap 5 套件 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">
    <!-- 自定義 CSS -->
    <style>
        /* 背景漸層 */
        body {
            background: linear-gradient(135deg, #71b7e6, #9b59b6);
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }

        /* 自定義輸入欄位寬度 */
        .custom-input-width {
            max-width: 350px;
            /* 設置輸入欄位的最大寬度 */
            width: 100%;
            /* 設置輸入欄位在容器內的寬度 */
        }

        /* 中心表單 */
        .center-form {
            background-color: white;
            padding: 2rem;
            border-radius: 0.5rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            max-width: 400px;
            /* 設置表單的最大寬度 */
            width: 100%;
            /* 確保在小屏幕上表單能自適應 */
        }
    </style>
</head>

<body>

    <div class="center-form">
        <form asp-action="Login">
            <div class="text-center">
                <h1 class="h3 mb-3 fw-normal">請登錄</h1>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="account" class="form-control custom-input-width" placeholder="帳號">
                <label asp-for="account">帳號</label>
                <span asp-validation-for="account" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="password" type="password" class="form-control custom-input-width" placeholder="密碼">
                <label asp-for="password">密碼</label>
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="checkbox my-3 d-flex justify-content-start">
                <label> <input type="checkbox" value="remember-me"> 記得我</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">登入</button>
        </form>
    </div>

    <!-- Bootstrap 和 jQuery 庫 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
    <script>
        $(document).ready(function () {

            // 取得後端錯誤訊息
            var exist = '@Html.Raw(ViewBag.userExist)';

            switch (exist) {
                case '1':
                    Swal.fire({
                        title: "帳號不存在",
                        icon: "warning"
                    });
                    break;
                case '2':
                    Swal.fire({
                        title: "密碼錯誤",
                        icon: "error"
                    });
                    break;
            }

        });
    </script>
</body>

</html>


