@model gacha.Models.permission

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>權限</h4>
    <hr />
    <div class="container">
        <div class="row mb-2">
            <div class="col-4 fw-bold">
                @Html.DisplayNameFor(model => model.permissionDesc)
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.permissionDesc)
                </dd>
            </div>
        </div>
    </div>
</div>

<div>
    @*DO NOT USE <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> | DO NOT USE*@
    @* <a asp-action="Index">Back to List</a> *@
</div>
