@model gacha.Models.permission

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>permission</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.permissionDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.permissionDesc)
        </dd>
    </dl>
</div>
<div>
    @*DO NOT USE <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> | DO NOT USE*@
    <a asp-action="Index">Back to List</a>
</div>
